  .side-nav {
      position: fixed;
      left: 0;
      padding: 0;
      z-index: 11;
      top: 0;
      bottom: 0;
      background: $secondary-color;
      height: 100%;
      -webkit-transition: width 0.3s;
      transition: width 0.3s;

      a {
          position: relative;
          color: #fff
      }

      .ps {
          height: calc(100% - 80px);
      }


      .ps__rail-x {
          display: none !important
      }
  }

  .left-nav {
      background: $secondary-color;
      @include transition();

      .ico {
          float: right;
          margin: 11px 10px 0 0;
          font-size: 11px;
      }
  }

  .nav-icon {
      padding-left: 0;
      width: 35px;
      display: inline-block;
      position: relative;

      & .icon-user {
          font-size: 14px;
      }

      &.icon-target {
          font-size: 16px;
      }

      &.icon-cart {
          font-size: 18px;
      }

      &.icon-dealer {
          font-size: 16px;
      }

      &.icon-stock {
          font-size: 18px;
      }

      &.icon-product {
          font-size: 17px;
      }

      &.icon-route {
          font-size: 20px;
      }

      &.icon-battery {
          font-size: 17px;
      }

      &.icon-attendance {
          font-size: 16px;
      }

      &.icon-activity {
          font-size: 22px;
          left: -2px;
      }

      &.icon-placeholder {
          font-size: 16px;
      }

      &.icon-settings {
          font-size: 18px;
      }

      &.icon-leave {
          font-size: 17px;
      }

      &.icon-expense2 {
          font-size: 17px;
      }

      &.invoice {
          font-size: 17px;
      }

      &.icon-service {
          font-size: 15px;
      }

      &.icon-warranty {
          font-size: 18px;
      }

      &.icon-feedback {
          font-size: 15px;
      }

      &.icon-return {
          font-size: 14px;
      }

      &.icon-collection-book {
          font-size: 17px;
      }

      &.icon-receipt {
          font-size: 16px;
      }

      &.icon-cancel-receipt {
          font-size: 16px;
      }

      &.icon-aging-report {
          font-size: 16px;
      }

      &.icon-customer {
          font-size: 16px;
      }

      &.icon-wallet {
          font-size: 16px;
      }

      &.icon-money-bag {
          font-size: 18px;
      }

      &.icon-dealer1 {
          font-size: 15px;
      }

      &.icon-dashboard {
          font-size: 14px
      }

      &.icon-shop {
          font-size: 18px
      }

      &.icon-report {
          font-size: 17px;
          top: 4px;
      }

      &.icon-module {
          font-size: 14px;
          top: 3px;
      }

      &.icon-settings1 {
          font-size: 17px;
          top: 3px;
      }

      &.icon-master-set {
          font-size: 17px;
          top: 4px;
      }

      &.icon-complaint {
          font-size: 18px;
          top: 4px;
      }

      &.icon-enquiry1 {
          font-size: 18px;
          top: 3px;
      }

      &.icon-message {
          font-size: 19px;
          top: 5px;
      }

      &.icon-visit {
          font-size: 17px;
          top: 4px;
      }

      &.icon-lead {
          font-size: 18px;
          top: 4px;
      }

      &.icon-sales {
          font-size: 20px;
          top: 5px;
      }

      &.el-icon-document {
          font-size: 18px;
          top: 3px;
      }

      &.icon-drilldown {
          font-size: 15px;
          top: 3px;
      }

      &.icon-mail {
          font-size: 15px;
          top: 3px;
      }

      &.icon-route {
          top: 5px;
      }

      &.icon-profile {
          font-size: 15px;
          top: 3px;
      }
       &.el-icon-truck {
          font-size: 19px;
          top: 3px;
      }

      &.icon-ledger {
          font-size: 16px;
          top: 3px;

      }

      &.icon-piggy-bank {
          font-size: 19px;
          top: 4px;

      }

      &.icon1-unlock {
          font-size: 16px;
          top: 3px; font-weight: 600

      }
  }


  .icon-user.nav-icon,
  .icon-target.nav-icon,
  .icon-stock.nav-icon,
  .icon-product.nav-icon,
  .icon-battery.nav-icon,
  .icon-attendance.nav-icon,
  .icon-placeholder.nav-icon,
  .icon-leave.nav-icon,
  .icon-service.nav-icon,
  .icon-feedback.nav-icon,
  .icon-cancel-receipt.nav-icon,
  .icon-collection-book.nav-icon,
  .icon-customer.nav-icon,
  .icon-wallet.nav-icon,
  .icon-dealer1.nav-icon,
  .icon-dashboard.nav-icon {
      top: 3px;
  }

  .icon-cart.nav-icon,
  .icon-activity.nav-icon,
  .icon-settings.nav-icon,
  .icon-expense1.nav-icon,
  .icon-warranty.nav-icon,
  .icon-receipt.nav-icon,
  .icon-money-bag.nav-icon,
  .icon-shop.nav-icon,
  .icon-report.nav-icon {
      top: 4px;
  }

  .icon-dealer.nav-icon,
  .invoice.nav-icon,
  .icon-return.nav-icon,
  .icon-aging-report.nav-icon {
      top: 2px;
  }


  .navi {
      li {
          a {

              &:before,
              &:after {
                  content: "";
                  position: absolute;
                  background: #3d6dc1;
                  top: 13px;
                  left: 17px;
              }
          }
      }

      .active a .nav-icon {
          color: $primary-color;
      }
  }




  .nav-submenu {
      max-height: 0;
      transition: max-height 0.40s ease-out;
      overflow: hidden;
      padding-left: 40px;

      li {
          &:last-child {
              a:after {
                  background: none;
              }
          }

          a {

              &:before,
              &:after {
                  content: "";
                  position: absolute;
                  background: #3d6dc1;
              }


              &:before {
                  width: 9px;
                  height: 1px;
              }

              &:after {
                  width: 1px;
                  height: 27px;
              }
          }

      }
  }


  @media (min-width: 992px) {
      .navi a {
          font-size: 12px;
          padding: 0;
          display: inline-block;
          width: 100%;
          line-height: 30px;
          color: #fff;
          white-space: nowrap;
          padding-left: 18px;
      }

      .navi li.active {
          background: none !important
      }

      .left-nav {
          padding-top: 5px;
          background: var(--secondary-color);
          margin-top: 13px;
          height: 100%;
      }

      .navi li:hover > a {
          background: #09224e;
          @include border-radius(50px);
      }


      .sidebar.width-0 {
          width: 0
      }

      .side-nav {
          width: 54px;
      }
  }

  @media (max-width:991px) {

      .nav-icon {
          display: inline-block;
          width: 25px;
      }

      .left-nav li {
          padding: 0;
          border-bottom: 1px solid #0f1f44;
      }

      .menu-close {
          position: absolute;
          background: $primary-color;
          color: #fff;
          right: -45px;
          width: 45px;
          height: 45px;
          top: 0;
          text-align: center;
          line-height: 40px !important;
      }

      .left-nav li.active {
          background: #09224e !important;
      }

      .navi li .nav-submenu a {
          font-size: 12px;
      }

      .nav-submenu {
          padding-left: 30px;

          li {
              a {
                  :before {
                      left: -10px;
                      top: 21px;
                  }
              }

              &:after {
                  height: 44px;
                  left: -11px;
                  top: 21px;
              }
          }
      }

      .nav-sub-arrow {
          display: block !important
      }

  }

  .logo {
      padding-top: 12px;
      text-align: center;
      height: 60px;
  }



  .left-nav .logo {
      height: 50px;
  }


  .nav-ul {
      .active {
          background: none !important;
      }

      li {
          &.height {
              .nav-submenu {
                  max-height: 600px;
                  transition: max-height 0.40s ease-in;

                  a {
                      font-size: 11px;
                      display: inline-block;
                      width: 100%;

                      &.active,
                      &:hover {
                          color: #3d6dc1;
                          background: none !important;
                      }
                  }
              }
          }
      }
  }

  .side-nav.width .logo-small,
  .side-nav.width-menu .logo-small {
      width: 0;
      opacity: 0;
  }

  .side-nav.width .logo-large,
  .side-nav.width-menu .logo-large {
      width: 170px;
      opacity: 1;
  }

  .side-nav .logo-large {
      width: 0;
      opacity: 0;
  }

  .logo-large {
      position: absolute;
      left: 15px;
  }

  .logo img {
      @include transition($time: 0.3s);
  }

  .menu-pin {
      color: #fff;
      position: absolute;
      right: 15px;
      top: 20px;
      font-size: 18px;
      transform: rotate(85deg);
      opacity: 0;
      @include transition();
      cursor: pointer;
  }

  .side-nav.width .menu-pin,
  .side-nav.width-menu .menu-pin {
      opacity: 10;
  }

  .side-nav.width-menu .menu-pin {
      color: red;
  }

  .icon-menu {
      font-size: 24px;
      text-align: center;
      display: inline-block;
      height: 45px;
      line-height: 51px;
      background: #061838;
      color: #fff;
      width: 50px;
      margin: 15px 0 20px 30px;
      @include border-radius(4px);
  }

  .nav-sub-arrow {
      margin: 10px;
      position: absolute;
      right: 0;
      font-size: 11px;
  }

  @media (min-width: 991px) and (max-width: 1279px) {
      .menu-pin {
          top: 19px;
          font-size: 16px;
      }
  }

  @media (max-width: 991px) {
      .nav-sub-arrow {
          top: 12px;
      }

      .side-nav {
          &.mobile-width {
              .logo-small {
                  width: 0;
                  opacity: 0;
              }
          }

          &.mobile-width {
              .logo-large {
                  width: 170px;
                  opacity: 1;
              }
          }
      }


      .menu-pin {
          display: none;
      }
  }

  @media (max-width: 1279px) {
      .side-nav {

          &.width,
          &.width-menu {
              .logo-large {}
          }
      }
  }

  @media (min-width: 1280px) {
      .side-nav {

          &.width-menu,
          &.width {
              width: 18%;
              @include transition($how:linear);
          }
      }

      .main {
          &.main-menu-pinned {
              width: 78%;
              margin-left: 20%;
          }
      }

      .main {
          &.all-menu-pinned {
              width: 62%;
              margin-left: 20%;
          }
      }

      .top-welcome-text.welcome-menu-pinned {
          padding-left: 19%
      }
  }

  @media (min-width: 1024px) {
      .navi {
          li {
              a {

                  &:before,
                  &:after {
                      content: "";
                      position: absolute;
                      background: #3d6dc1;
                      top: 13px;
                      left: 17px;
                  }
              }

              .nav-submenu {
                  a {
                      line-height: 26px;
                      font-size: 11px;
                      padding-left: 30px;
                  }
              }

          }
      }
  }

  @media (min-width: 992px) and (max-width:1279px) {
      .side-nav {

          &.width-menu,
          &.width {
              width: 20%;
              @include transition($how:linear);
          }

          .logo-large {
              width: 140px
          }
      }

  }


  @media(max-width:991px) {

      .navi {
          a {
              padding: 15px 12px;
              width: 100%;
              display: inline-block;
          }
      }

      .nav-sub-arrow {
          display: block !important
      }

      .nav-submenu {
          li {
              a {
                  &:after {
                      height: 44px;
                  }

                  &:before,
                  &:after {
                      top: 22px;
                      left: 0
                  }
              }
          }
      }

      .side-nav {
          width: 200px;
      }
  }

  @media(min-width:1024px) and (max-width:1279px) {
      .main {
          &.main-menu-pinned {
              width: 76%;
              margin-left: 22%;
          }

          &.all-menu-pinned {
              width: 51%
          }
      }



  }
