.three-colum-popup {
    .colum-cover {
        display: flex;
        flex-wrap: wrap;

        .colum-style {
            padding: 0 15px;
            margin-bottom: 25px;

            &.comment {
                flex: 1;
            }
        }
    }
}

.popup-map {
    .google-map {
        width: 100%;
        height: 360px;
        margin: 0 auto;
        background: gray;
    }
}

.popup-rotate-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    img {
        max-width: 200px;
    }
}

@media(min-width:768px) {
    .three-colum-popup {
        .colum-style {
            flex: 0 0 33.333%;
        }
    }
}

@media(max-width:767px) {
    .three-colum-popup {
        .colum-style {
            flex: 0 0 100%;
        }
    }
}

.img-view-popup {
    .img-doc {
        display: flex;
        height: 200px;
        justify-content: center;
        align-items: center;
        border: 0;
        padding: 0;

        img {
            max-width: 200px;
            border: 1px solid #dedbdb;
            padding: 5px;

        }
    }
}
