



$font-color:#696969;

$light-bg:#f5f5f5;
$light-border:#ececec;
$border-color:#DCDFE6;
$font-color-one:#7e99ba;
$font-color-two:#37559D;
$border-color-one:#EDF1F5;
$table-border:#ECECF1;

$font-family:'Ubuntu', sans-serif;
$font-size: 13px;
$primary-color:#ed273f;
$secondary-color:#061838;
$text-color:#000;
$input-border-color:#dedede;
$font-bold-primary:700;
$input-text-color: #878788;
$light-text:#7b7b7b;
$label-color: #7b7b7b;
$green-color:#83d000;
$red-color:#e53935;
$light-bg-blue:#f3f7ff;




